$blue: #0080ff;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f46a6a;
$orange: #f1734f;
$yellow: #ffa800;
$green: #34c38f;
$teal: #050505;
$cyan: #00b8d4;
$gray: #f6f9fc;
$dark: #204055;
$white: #ffffff;

$primary: $blue;
$secondary: $gray;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $white;

$text-color: $dark;
$border-radius: 3px;
